---
layout: default
---

<div class="home">
  <div class="wrapper">
    <div class="hero">
      <img src="{{ site.url }}/uploads/homepage.jpg"  alt="Rhode Island"/>
    </div>
    <blockquote>Welcome, from the smallest state with the biggest heart</blockquote>

    {% for location in site.locations %}
      <div class="apartment-list">

        <h3 class="al_title">{{ location.title }}</h3>

        <div class="al_content">
          {% for building in location.buildings %}
            {% assign buildingObject = site.buildings | where: 'title', building | first %}
            {% if buildingObject %}
              <div class="al_building">
                <div class="al_building_title">
                  <p class="al_building_name">{{ buildingObject.title }}</p>
                  <div class="al_headings">
                    <span class="al_heading">Bedrooms</span>
                    <span class="al_heading">Bathrooms</span>
                  </div>
                </div>
                {% for apartment in buildingObject.Apartments %}
                  {% assign apartmentObject = site.apartments | where: 'title', apartment | first %}
                  {% if apartmentObject %}
                    <a class="al_building_content" href="{{ apartmentObject.url | prepend: site.url }}">
                      <p class="al_apartment">{{ apartmentObject.floor }}
                        {% if apartmentObject['is available'] %}
                          <em class="al_available">Available</em>
                        {% endif %}
                      </p>
                      <p class="al_bedroom">{{ apartmentObject.bedrooms }}</p>
                      <p class="al_bathroom">{{ apartmentObject.bathrooms }}</p>
                    </a>
                  {% endif %}
                {% endfor %}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
