<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-content">

      <div class="footer-full">
        <a href="mailto:maggiegd@verizon.net" class="callout">Get in Touch</a>
      </div>

      <div class="footer-left">
        {{ site.address }}
      </div>

      <div class="footer-right">
        {{ site.telephone }}
        <a href="mailto:{{ site.email }}">{{ site.email }}</a>
      </div>

    </div>

  </div>
  <!-- scripts -->
  <script type="text/javascript" src="{{ "/js/main.js" | prepend: site.url }}"></script>
</footer>
