.footer-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-full {
  width: 100%;
  text-align: center;
}
.callout {
  border: 1px solid $green-color;
  color: $green-color;
  cursor: pointer;
  display: inline-block;
  padding: 15px 25px;
  &:hover {
    border-color: $highlight-color;
    color: $highlight-color;
    text-decoration: none;
  }
}
.footer-left,
.footer-right {
  display: block;
  white-space: pre-line;
}
.footer-right {
  text-align: right;
}

.social {
  a {
    color: $highlight-color;
    margin-right: 17px;
    font-size: 20px;
    &:hover {
      text-decoration: none;
    }
  }
}
