.site-header {
  background-color: #FFFFFF;
  padding-top: 30px;
  padding-bottom: 0px;
  position: relative;
  border-top: 5px solid $gold-color;

  // &:before {
  //   content: '';
  //   display: block;
  //   position: absolute;
  //   width: calc(100% - 30px);
  //   left: 15px;
  //   bottom: -15px;
  //   border-bottom: 1px solid $highlight-color;
  // }
  //
  // &:after {
  //   content: '';
  //   display: block;
  //   position: absolute;
  //   width: calc(100% - 30px);
  //   left: 15px;
  //   bottom: -20px;
  //   border-bottom: 1px solid $highlight-color;
  // }

}

.site-title {
  color: $brand-color;
  font-size: 36px;
  &:visited {
    color: $brand-color;
  }
}
