.page {
  padding-top: 20px;
  background-color: $background-color;

  table {
    font-size: 18px;
    width: 100%;

    tbody {
      display: flex;
      justify-content: space-between;
      width: 100%;
      flex-wrap: wrap;
      margin: 20px 0 40px 0;
    }

    tr {
      width: 100%;
      display: flex;
    }

    td {
      flex: 1;
    }
  }
}
