---
layout: default
---

<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    {% if page['is available'] %}
        <span>Available</span>
    {% else %}
        <span>Unavailable</span>
    {% endif %}
  </header>

  <div class="post-content">
    {{ content }}
  </div>

  <div class="slideshow">
    {% for slide in page.slideshow %}
      <img src="{{ site.url }}{{ slide.image }}"  alt="{{ slide.description }}"/>
    {% endfor %}
  </div>

</article>
