---
layout: default
---

<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <div class="hero">
    <img src="{{ site.url }}{{ page.image }}"  alt="{{ page.title }}"/>
  </div>

  <div class="post-content">
    {{ content }}
  </div>

  <div class="apartments">
    <ul>
      {% for apartment in page.Apartments %}
        {% assign apartmentObject = site.apartments | where: 'title', apartment | first %}
        {% if apartmentObject %}
          <li>
            <a href="{{ site.url }}{{ apartmentObject.url }}">{{ apartmentObject.title }}</a>
            {% if apartmentObject['is available'] %}
              <em>Available</em>
            {% else %}
              <em>Unavailable</em>
            {% endif %}
            <p>{{ apartmentObject.content }}</p>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>

  <div class="map">
    {{ page['Google Map Text'] }}
  </div>

</article>
